/* login */
.login-container{
    width: 100vw; height: 100vh;
    background-color: #F0F0F0;
    display: flex; justify-content: center; align-items: center;
}

.login-box{ 
    width: 640px; /* 33vw */
    height: 900px; /* 83vh */
    background-color: #FFFFFF; border-radius: 20px;
    display: flex; flex-direction: column; align-items: center;
    position: relative;
}

.login-box>a{display: block; margin-top: 64px;}
.login-box>img{width: 250px;}

.login-input-email{margin-top: 98px; margin-bottom: 23px;}

.login-box div input{
    width: 320px; height: 42px;
    border-radius: 5px; border: 1px solid #C5C5C5;padding: 8px;
}

.login-input-email>p,.login-input-password>p{
    font-size: 14px;font-weight: bold; margin-bottom: 8px;
}
.passwordwrong{ /* 비밀번호 틀렸을 때 나오는 경고 문구 */
    color: red; font-size: 13px; margin-top: 4px;
    display: none;
}

.login-box button{
    width: 320px; height: 50px; border-radius: 5px;
    font-size: 14px; font-weight: bold;
    background-color: #231F20; color: #FFFFFF;
    margin-top: 40px; cursor: pointer;
}

.login-check{
    width: 320px; display: flex;
    justify-content: space-between;
    margin-top: 20px; font-size: 14px;
}

.login-check>div{display: flex; justify-content: center;}

.login-check>div>svg{margin-right: 8px;}

.login-signUp{width: 320px; font-size: 14px; margin-top: 176px;}

.login-signUp>p{float: left;}

.login-signUp>a{float: right; font-weight: bold; text-decoration: underline;}


/* signup */
.signup-box{ 
    width: 640px; /* 33vw */
    height: 900px; /* 83vh */
    background-color: #FFFFFF; border-radius: 20px;
    display: flex; flex-direction: column; align-items: center;
}

/* 로고 */
.signup-box>a{display: block; margin-top: 64px;}
.signup-box>img{width: 250px;}

.signup-box>p{ /* 이메일 가입하기 */
    font-size: 24px; margin-top: 44px;
}

.signup-box>div>input{
    width: 320px; height: 40px;
    border-radius: 5px; border: 1px solid #C5C5C5; padding: 8px;
}

form.signup-box>div>p{font-weight: bold; font-size: 14px; margin-bottom: 8px;
margin-top: 20px;}

/* 이메일 주소 + 인증 번호 + 비밀번호 */
.signup-input-email{margin-top: 30px;}

.signup-box>div:nth-of-type(1)>button, .signup-box>div:nth-of-type(2)>button{
    width: 80px; height: 40px;
    border-radius: 5px; font-size: 14px; font-weight: bold;
    background-color: #231F20; color: #fff;
}
.signup-box>div:nth-of-type(1)>input, .signup-box>div:nth-of-type(2)>input{
    width: 230px; margin-right: 10px;
}

form.signup-box>div .email-send{ /* 이메일 전송 눌렀을 때 나오는 문구 */
    color: green; font-size: 13px; font-weight: normal;
    display: none;
}
.signup-box>div:nth-of-type(1) .certi-resend{ /* 이메일 재전송 버튼 */
    display: none;
}

.signup-input-password{
    margin-top: 20px;
}

.signup-check{
    width: 320px;
    display: flex; justify-content: space-between;
    margin-top: 40px; margin-bottom: 73px; font-size: 14px;
}
form.signup-box>div .pwInconsistency{
    color: red; font-size: 13px; font-weight: normal;
    display: none;
}

.signup-check>div{display: flex; justify-content: center;}

.signup-check>div>p{   /* 핑퐁 가입 약관에 모두 동의 합니다. */
    font-size: 12px; margin-left: 4px;
}

.signup-check>a{   /* 확인하기 */
    font-size: 12px;
    text-decoration: underline;
}

.login-container div:last-child>button:first-child{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #231F20;
    border: 1px solid #231F20;
    cursor: pointer;
}
.login-container>.signup-box>div>button:first-child>a{
    display: block; 
} /* a태그 inline -> block */

.login-container .signup-next{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 20px;
}
.login-container>.signup-box>div>button:last-child>a{
    display: block;
    flex-direction: center;
    align-items: center;
    color: #FFFFFF;
}




/* 약관 확인하기 클릭 했을 때 */
.termsbackground{
    display: flex; flex-direction: column; align-items: center;
    background-color: #231F2050; position: absolute; display: none;
}

.termsbackground>div{
    width: 420px; height: 420px;
    background-color: #FFFFFF; border-radius: 20px;
    margin-top: 200px; margin-left: 110px; padding: 0 50px;
    display: flex; flex-direction: column;
    position: relative;
}

.termsbackground>div>.check-all,div>.check-must1,div>.check-must2,div>.check-select{
    display: flex; margin-bottom: 30px; float: left;
}

.termsbackground>div>p:first-child{
    font-size: 24px; font-weight: bold;
    margin-top: 32px; margin-bottom: 42px;
}

.termsbackground>div>p:last-child{
    font-size: 16px; margin-top: 42px;
}

.termsbackground>div>div>a{
    font-size: 12px; display: block;
}

.termsbackground>div>button{
    width: 320px; height: 50px;
    border-radius: 5px; font-size: 14px;
    font-weight: bold; background-color: #231F20;
    color: #FFFFFF; cursor: pointer; margin-top: 10px;
}

/* signupInfo */
.signup-info-box{ 
    width: 640px; /* 33vw */
    height: 900px; /* 83vh */
    background-color: #FFFFFF; border-radius: 20px;
    display: flex; flex-direction: column; align-items: center;
}

/* .signup-info-box>img{
    width: 195px; margin-top: 56px;
} */
.signup-info-box>a{display: block; margin-top: 64px;}
.signup-info-box>img{width: 250px;}

.signup-info-box>p{ 
    font-size: 24px; margin-top: 45px;
}

.signup-info-box>div>p{
    font-size: 14px; font-weight: bold;
    margin-top: 40px; margin-bottom: 8px;
}

.signup-info-member-name>input{
    width: 320px; height: 42px;
    border-radius: 5px; border: 1px solid #C5C5C5; padding: 8px;
}

.signup-info-memberURL>div>p{
    margin-top: 9px; margin-left: 15px; font-size: 12px;
}

.signup-info-memberURL>div>input{
    width: 280px; height: 42px;
    border-radius: 5px; border: 1px solid #C5C5C5;
    margin-top: 11px; margin-left: 20px; padding: 8px;
}

.signup-info-memberURL>div{
    width: 320px; height: 96px;
    border-radius: 5px; border: 1px solid #92B4EC;
}

.url-double-check{
    background-color: #92B4EC; border-radius: 20px;
    width: 100px; height: 34px;
    color: #FFFFFF; float: right;
    margin-top: 10px; margin-bottom: 5px;
    font-size: 12px; font-weight: bold; cursor: pointer;
}

.job-checkbox-container>p{ 
    font-size: 14px; font-weight: bold;
}

.job-checkbox-container{
    width: 320px; display: flex;
    flex-direction: column;
    /* float: left; */
    font-size: 12px; margin-bottom: 30px;
}
.job-checkbox-container input[type="checkbox"]{
    margin-right: 4px;
}

.job-checkbox>div{
    width: 50%; float: left;
    display: flex; flex-direction: column;
}
.job-checkbox>label{margin: 4px;}
.job-checkbox>div>label>input{
    margin-bottom: 5px;
}

.signup-info-box>button:last-child{
    width: 320px; height: 50px;
    border-radius: 5px; font-size: 14px;
    font-weight: bold; background-color: #231F20;
    color: #FFFFFF; cursor: pointer; margin-top: 10px;
}
.signup-info-box>button:last-child>a{
    color: #FFFFFF;
}

/* 비밀 번호 찾기 */

.pwseachbox>p:nth-of-type(1){
    font-size: 24px; margin-top: 44px;
}
.pwseachbox a img{
    margin-top: 140px;
}

.pwseachbox .login-signUp{
    margin-top: 40px;
}
.pwseachbox button{
    margin-top: 30px;
}

.pwseachbox .email-pw-reset{ /* 비밀번호 재설정을 위한 이메일이 발송 되었습니다. */
    color: green; font-size: 13px; font-weight: normal; margin-top: 8px;
    display: none;
}

/* 체크 박스 타입 css */
.customChk input[type="checkbox"] {
    display: none; user-select: none;
}
label{user-select: none;}
.customChk input[type="checkbox"] + label span{
    background: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.92495 0.580078C7.27677 0.580078 5.66561 1.06882 4.2952 1.9845C2.92479 2.90018 1.85669 4.20167 1.22595 5.72438C0.595224 7.2471 0.430197 8.92266 0.75174 10.5392C1.07328 12.1557 1.86696 13.6405 3.03239 14.806C4.19783 15.9714 5.68269 16.7651 7.2992 17.0866C8.91571 17.4082 10.5913 17.2431 12.114 16.6124C13.6367 15.9817 14.9382 14.9136 15.8539 13.5432C16.7695 12.1728 17.2583 10.5616 17.2583 8.91341C17.2583 7.81906 17.0427 6.73543 16.6239 5.72438C16.2052 4.71334 15.5913 3.79468 14.8175 3.02086C14.0437 2.24703 13.125 1.6332 12.114 1.21442C11.1029 0.795626 10.0193 0.580078 8.92495 0.580078ZM8.92495 15.5801C7.60641 15.5801 6.31748 15.1891 5.22115 14.4565C4.12482 13.724 3.27034 12.6828 2.76575 11.4646C2.26117 10.2465 2.12915 8.90602 2.38638 7.61281C2.64362 6.3196 3.27856 5.13172 4.21091 4.19937C5.14326 3.26702 6.33114 2.63208 7.62435 2.37484C8.91756 2.11761 10.258 2.24963 11.4762 2.75421C12.6943 3.2588 13.7355 4.11328 14.4681 5.20961C15.2006 6.30594 15.5916 7.59487 15.5916 8.91341C15.5916 10.6815 14.8892 12.3772 13.639 13.6275C12.3888 14.8777 10.6931 15.5801 8.92495 15.5801Z' fill='%23231F20'/%3E%3Cpath d='M11.1752 5.90425L8.02517 10.0709L6.66683 8.31258C6.53091 8.13798 6.33119 8.02453 6.11162 7.99718C5.89205 7.96983 5.6706 8.03083 5.496 8.16675C5.3214 8.30267 5.20794 8.50239 5.18059 8.72196C5.15325 8.94154 5.21424 9.16298 5.35017 9.33758L7.37517 11.9292C7.45364 12.0286 7.55371 12.1087 7.66778 12.1636C7.78185 12.2184 7.90692 12.2466 8.0335 12.2459C8.16076 12.2456 8.28627 12.2162 8.40039 12.1598C8.5145 12.1035 8.6142 12.0218 8.69183 11.9209L12.5002 6.92092C12.635 6.7441 12.694 6.52098 12.6643 6.30062C12.6347 6.08027 12.5186 5.88073 12.3418 5.74592C12.165 5.6111 11.9419 5.55204 11.7215 5.58173C11.5012 5.61142 11.3017 5.72744 11.1668 5.90425H11.1752Z' fill='%23231F20'/%3E%3C/svg%3E")
    center no-repeat;
    background-size: cover;
    display: inline-block; width: 20px; height: 20px; 
    vertical-align: middle; margin: -2px 4px 0 0;
}
.customChk input[type="checkbox"]:checked + label span{
    background: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.09001 0.246094C7.4415 0.246094 5.83001 0.734933 4.45933 1.65079C3.08865 2.56666 2.02033 3.8684 1.38947 5.39143C0.758616 6.91445 0.593556 8.59034 0.915163 10.2072C1.23677 11.824 2.0306 13.3092 3.19627 14.4748C4.36194 15.6405 5.8471 16.4343 7.46393 16.7559C9.08076 17.0775 10.7567 16.9125 12.2797 16.2816C13.8027 15.6508 15.1044 14.5825 16.0203 13.2118C16.9362 11.8411 17.425 10.2296 17.425 8.58109C17.425 7.48653 17.2094 6.40267 16.7905 5.39143C16.3717 4.38018 15.7577 3.46133 14.9837 2.68736C14.2098 1.91338 13.2909 1.29943 12.2797 0.880558C11.2684 0.461685 10.1846 0.246094 9.09001 0.246094ZM12.6741 6.58903L8.86496 11.59C8.78731 11.6909 8.6876 11.7726 8.57346 11.829C8.45932 11.8853 8.33379 11.9148 8.2065 11.9151C8.07989 11.9158 7.9548 11.8876 7.84071 11.8327C7.72662 11.7778 7.62653 11.6977 7.54803 11.5984L5.51429 9.00618C5.44698 8.91971 5.39735 8.82082 5.36825 8.71517C5.33915 8.60953 5.33114 8.49918 5.34469 8.39044C5.35823 8.28169 5.39306 8.17668 5.44719 8.0814C5.50132 7.98611 5.57368 7.90243 5.66016 7.83511C5.83479 7.69916 6.05628 7.63815 6.2759 7.66551C6.38464 7.67905 6.48965 7.71388 6.58494 7.76801C6.68022 7.82214 6.76391 7.8945 6.83122 7.98097L8.18983 9.71465L11.3405 5.54715C11.4072 5.45959 11.4906 5.38603 11.5858 5.33068C11.681 5.27533 11.7861 5.23928 11.8953 5.22457C12.0044 5.20987 12.1154 5.2168 12.2218 5.24498C12.3283 5.27315 12.4281 5.32202 12.5157 5.38879C12.6033 5.45556 12.6768 5.53892 12.7322 5.63412C12.7875 5.72931 12.8236 5.83448 12.8383 5.94361C12.853 6.05274 12.846 6.1637 12.8179 6.27015C12.7897 6.3766 12.7408 6.47646 12.6741 6.56402V6.58903Z' fill='%23231F20'/%3E%3C/svg%3E")
    center no-repeat;
    background-size: cover;
    display: inline-block; width: 20px; height: 20px; 
    vertical-align: middle; margin: -2px 4px 0 0;
}

/* 약관 전체 동의 */
#checkTermsAll{
    display: block;
    width: 16px; height: 16px; 
    margin-right: 8px;
}
.check-all{
    display: flex; align-items: center;
}
label a{font-size: 14px;}
.signup-box>div>button.close-signup-terms{
    width: 320px; height: 50px;
}