<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <!-- SqlSessionTemplate 생성 시 적용될 설정 작성 부분 -->
   <settings>
      <setting name="jdbcTypeForNull" value="NULL" />
   </settings>
   
   <!-- 별칭 작성 부분 -->
   <!-- VO클래스의 패키지명 + 클래스명 작성하는 것이 불편하기 때문에 짧은 별칭 부여 -->
   <typeAliases>
      <typeAlias type="com.pingpong.project.member.model.dto.Member" alias="Member" />
      <typeAlias type="com.pingpong.project.message.model.dto.Message" alias="Message" />
      <typeAlias type="com.pingpong.project.message.model.dto.Notice" alias="Notice" />
      <typeAlias type="com.pingpong.project.board.model.dto.Board" alias="Board" />
      <typeAlias type="com.pingpong.project.board.model.dto.BoardImage" alias="BoardImage" />
      <typeAlias type="com.pingpong.project.board.model.dto.Comment" alias="Comment" />
      <typeAlias type="com.pingpong.project.board.model.dto.Like" alias="Like" />
      <typeAlias type="com.pingpong.project.mypage.model.dto.MyPage" alias="MyPage" />
      <typeAlias type="com.pingpong.project.board.model.dto.Inquiry" alias="Inquiry" />
      <typeAlias type="com.pingpong.project.board.model.dto.Declaration" alias="Declaration" />


   </typeAliases>
   
   <!-- mapper 파일(SQL 작성되는파일) 위치 등록 부분 -->
   <mappers>
      <mapper resource="/mappers/member-mapper.xml" />
      <mapper resource="/mappers/message-mapper.xml" />
      <mapper resource="/mappers/email-mapper.xml" />
      <mapper resource="/mappers/manager-mapper.xml"/>
      <mapper resource="/mappers/mypage-mapper.xml" />
      <mapper resource="/mappers/ajax-mapper.xml" />
      <mapper resource="/mappers/board-mapper.xml" />

   </mappers>
</configuration>