/* 전체 틀에서 가운데 오게 함 */
#adminModiTab2{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 넓이 비율을 줘서 그만큼 가운데 위치하도록 함 */
#adminModiTab2>div{
    text-align: center;
    width: 80%;
}

/* 탈퇴 회원 관리 제목 */
#adminModiTab2>div>div:first-child{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}
/* 검색 div */
#adminModiTab2>div>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
/* 선택 옵션 */
#adminModiTab2>div>div:nth-child(2)>select{
    text-align: center;
    color : #5C5C5C;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    margin: 0 10px;
}
/* 검색 창 */
#adminModiTab2>div>div:nth-child(2)>input{
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    min-width: 40%;
}
/* 검색 버튼 */
#adminModiTab2>div>div:nth-child(2)>button{
    width: 40px;
    height: 22px;
    border-radius: 5px;
    background-color: #FFE69A;
    margin-left: 5px;
}
/* 테이블 */
#adminModiTab2 table{
    width: 100%;
    border-collapse: collapse;
}
/* 테이블 제목 */
#adminModiTab2 th{
    border-bottom: 1px solid #C5C5C5;
    height: 40px;
    background-color: #F0F0F0;
    font-size: 16px;
}
/* 테이블 내용 부분 */
#adminModiTab2 td{
    border-bottom: 1px solid #C5C5C5;
    height: 40px;
    word-break: break-all;
}
.col1{width: 5%;}
.col2{width: 10%;}
.col3{width: 15%;}
.col4{width: 30%;}
.col5{width: 30%;}
.col6{width: 10%;}

/* 페이지네이션 */
.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 80px;
    position: relative;
}
.pagination ol{
    width : 400px;
    height: 30px;
    text-align: center;
}
#paginationNumbers li{
    display: inline-block;
}
#paginationNumbers li a{
    padding: 3px;
    color: #92B4EC;
    margin: 0 6px;
    width: 20px;
}
#paginationNumbers li a.active{
    font-weight: bold;
    color: #5286DC;
}
.pagination i{
    color: #FFD24C;
    line-height: 30px;
}

/* 하단 버튼 */
#selectMemberRestoreExisting{
    font-size: 12px;
    width: 160px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    margin-top: 170px;
    margin-left: 30px;
    background-color: #FFE69A;
}