/* 회원 페이지 전체를 감싸고 있는 요소 */
.myPage-content-container{
    display: flex;
    width: 70%;
    min-height: 780px;
    margin: 150px auto;
}


/* ************* 사이드 메뉴 ************* */

/* Tab Menu Area */
*{margin: 0; padding: 0;}
.myPage-left-side-menu>ul{list-style: none;}

.myPage-left-side-menu-group{
    height: 100%;
    padding: 15px; 
    letter-spacing:-0.5px;
}

.myPage-left-side-menu{
    width: 100%;
    list-style: none;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
}

.myPage-left-side-menu > ul > li{
    margin-bottom: 15px;
}

.myPage-left-side-menu > ul > li > a{
    font-size: 16px;
    color:black;
    text-decoration: none;
    width: 200px; height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPage-left-side-menu > ul > li > a:hover{
    background-color: #FFE69A90;
}

.myPage-left-side-menu> ul > li.myPage_modi_is_on > a{
    color:#231F20; 
    background-color: #FFE69A;
}

.myPage-left-side-menu> ul > li.myPage_modi_is_on > div{
    display:block;
}


/* ************* Main Area ************* */
.myPage-content-main-area{
    width: 1100px;
    height: 100%;
    padding: 48px 275px; 
    border: 1px solid #231F20;
    border-radius: 5px;
}

.myPage-content-main-area > div{
    display:none; 
}  
.myPage-content-main-area > div:first-child{
    display:block;
}



/* ************* myPage-content ************** */


/* *** [내 정보 편집] *** */

/* input / p 태그 설정 */
.userName-change>input,.URL-change>div>input,.interest-field>input{
    width: 100%;
    height: 42px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
}
.userName-change>p,.URL-change>p,.interest-field-container>p{
    margin-top: 25px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

/* input file 커스텀 */
.profile-change-area>div{
    cursor: pointer;
}
.profile-change-area>div>svg{
    width: 15px;
    height: 15px;
}
.profile-change-area input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}


/* 프로필 사진 */
.profile-change-area{
    display: flex;
    align-items: center;
}
.profile-change-area>span{ 
    display: flex;
    width: 100px;
    height: 100px;
    color: #231F20;
    background-color: #F0F0F0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.profile-change-area>span>svg{
    width: 30px;
}
.profile-change-area>div{
    font-weight: bold;
    font-size: 14px;
}
.chooseFile{
    display: flex;
    align-items: flex-end;
}
.profile-change-area>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* url */
.URL-change>div>p{
    margin-top: 9px; margin-left: 15px; font-size: 12px;
}

.URL-change>div>input{
    width: 90%; height: 42px;
    border-radius: 5px; border: 1px solid #C5C5C5;
    margin-top: 11px; margin-left: 20px; padding: 8px;
}

.URL-change>div{
    width: 100%; height: 96px;
    border-radius: 5px; border: 1px solid #92B4EC;
}

.url-double-check{
    background-color: #92B4EC; border-radius: 20px;
    width: 100px; height: 34px;
    color: #FFFFFF; float: right;
    margin-top: 10px; margin-bottom: 5px;
    font-size: 12px; font-weight: bold; cursor: pointer;
}


/* 관심분야 변경 */
.interest-field-container{
    width: 100%; display: flex;
    flex-direction: column;
    font-size: 12px;
}

.interest-field-container>p{ 
    font-size: 14px; font-weight: bold;
}

.interest-field-container input[type="checkbox"]{
    margin-right: 4px;
}

.interest-field>div{
    width: 33%; float: left;
    display: flex; flex-direction: column;
}
.interest-field>label{margin: 4px;}
.interest-field>div>label>input{
    margin-bottom: 10px;
}





/* *** [프로필 편집] *** */

/* input / p 태그 설정 */
.introduce-change>input,.career-change>input,.certificate-change>input,.tech-field>input,.SNS-field>div>input{
    width: 100%;
    height: 42px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}
.introduce-change>p,.career-change>p,.certificate-change>p,.tech-field-container>p,.SNS-container>p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}


/* 지식 / 기술, SNS */
.tech-field,.SNS-field{
    width: 100%;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 16px;
    align-items: center;
}


/* 자격증, SNS */
.tech-field-container{
    width: 100%; display: flex;
    flex-direction: column;
    font-size: 12px;
}
.SNS-container{
    font-size: 12px;
}

.tech-field-container>p,.SNS-container>p{ 
    font-size: 14px; font-weight: bold;
}

.tech-field-container input[type="checkbox"],.SNS-field-container input[type="checkbox"]{
    margin-right: 4px;
}

.tech-field{
    margin-bottom: 10px;
}

.tech-field>div{
    width: 25%; float: left;
    display: flex; flex-direction: column;
}

.tech-field>label{margin: 4px;}

.tech-field>div>label>input,.SNS-field>div>label>input{
    margin-bottom: 10px;
}


/* SNS */
.SNS-field>div>input{
    width: 300px; height: 24px;
    padding: 8px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    font-size: 12px;
    color: #5C5C5C;
}


/* ** 수정사항 저장 ** */
.myPage-save{
    display: flex;
    justify-content: center;
}
.myPage-save>button{
    width: 100px;
    height: 35px;
    border-radius: 50px;
    font-size: 12px;
    margin-top: 25px;
}
.myPage-save>button:first-child{
    background-color: #FFD24C;
    margin-right: 20px;
}
.myPage-save>button:last-child{
    background-color: #FFE69A;
}





/* *** [비밀번호 변경 화면 구현 & 회원 탈퇴] *** */

/* input / p 태그 설정 */
.password-modi>p,.secession>p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    
}
.password-modi-secession>p:last-child{
    margin-top: 50px;
}
.current-password>input,.new-password>input,.new-password-check>input,.password-for-secession>input{
    width: 100%;
    height: 42px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}
.current-password>p,.new-password>p,.new-password-check>p,.password-for-secession>p,.terms-for-secession>p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

/* 비밀번호 변경 */
.passwordcorrect{
    color: green; font-size: 10px; margin-top: 4px;
    display: none;
}

/* 회원 탈퇴 약관 */
.terms-for-secession>textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 8px;
    color: #5C5C5C;
}
.termsCheckBox{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
.secessionBtn{
    display: inline-block;
}

/* 확인 버튼 */
.password-change,.secessionBtn{
    background-color: #92B4EC; border-radius: 20px;
    width: 100px; height: 34px;
    color: #FFFFFF; float: right;
    margin-top: 10px; margin-bottom: 5px;
    font-size: 12px; font-weight: bold; cursor: pointer;
}





/* *** [문의 내역] *** */
.myPage-content-main:last-child{
    height: 650px;
}
.inquiry-area>p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.inquiry-area>div{
    display: flex;
    width: 100%;
    height: 30px;
    font-size: 14px;
    margin-bottom: 24px;
    border-bottom: 1px solid #C5C5C5;
}
