
.myFollowList .followList{
    margin: 40px 0; height: 400px; width: 500px;
    font-size: 14px; color:#000; overflow: auto;
}
.myFollowList .followExample{
    width: 100%; height: 46px; margin-bottom: 20px;
    display: flex; align-items: center;
}
.myFollowList .followExample .probox{
    width: 35px; height: 35px; 
    background-color: #FFE69A; border-radius: 50%; margin-right: 15px;
}
.myFollowList .followExample>div:nth-of-type(2)>p{margin-bottom: 4px;}
.myFollowList .followExample>div:nth-of-type(3){
    display: flex; flex-direction: column; align-items: end;
    justify-content: space-between;
}
.myFollowList .followExample>div:nth-of-type(3) img{cursor: pointer;}
.myFollowList .followExample>div:nth-of-type(3) p{
    color: #5C5C5C;
    align-self: flex-end; font-size: 12px; margin-top: 4px;
}
.myFollowList .followExample>div:nth-of-type(2){
    width: 150px; cursor: pointer; height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#alarmModBox .followerLink{
    display: flex; justify-content: center;
    margin-top: 20px;
}
#alarmModBox .followerLink svg{margin-right: 8px;}
.messageBoxOpen{width: 300px; user-select: none; cursor: pointer;}

/* ------------------------------------------------ */
/* 메세지 함 css */

/* ---------------------------- */
/* 받은 메세지 함 */
.myFollowList{
    width: 100vw; height: 100vh; background-color: #5C5C5C50; 
    display: flex; justify-content: center; align-items: center;
    position: fixed; z-index: 300; top: 0; left: 0;
    display: none;
}
.myFollowList>div{
    width: 600px;  height: 600px;  
    background-color: #FFFFFF; border-radius: 20px; 
    display: flex; flex-direction: column; align-items: center; 
    position: relative;
}
.myFollowList>div>div:first-child{ /* 메세지 함 TOP */
    width: 100%; height: 10%; border-bottom: 1px solid #C5C5C5;
    display: flex; align-items: center;
    padding: 0 20px;
}
.myFollowList .followerLink{
    display: flex; align-items: center; user-select: none; cursor: pointer;
}
.myFollowList .followerLink>svg{margin-right: 8px;}

.myFollowList>div>div:first-child h2{
    position: absolute; left: 254px; user-select: none;
}

.myFollowList>div>div:first-child>svg:last-of-type{
    width: 20px; height: 20px; position: absolute; 
    right: 18px; top: 18px; cursor: pointer;
}
.reciveUnderline{cursor: pointer; user-select: none; text-decoration: underline;}
.sendUnderline{cursor: pointer; user-select: none; text-decoration: underline;}
/* 메세지 리스트 */
.myFollowList .followList{
    margin: 40px 0; height: 400px; width: 500px;
    font-size: 14px; color:#000; overflow: auto;
    display: flex;  flex-direction: column; align-items: center;
}
.userProfile{display: flex;}
.myFollowList .followExample{
    width: 80%; height: 46px; margin-bottom: 20px;
    display: flex; 
}
.h4{display: flex; justify-content: center; margin: 20px 0;}
/* .myFollowList h4{} */
.myFollowList .followExample .probox{
    width: 35px; height: 35px; 
    background-color: #FFE69A; border-radius: 50%; margin-right: 15px;
}
.myFollowList .followExample>div:nth-of-type(2)>p{margin-bottom: 4px;}

/* myFollowList .followExample>div:nth-of-type(3) svg{color: #5C5C5C; margin-bottom: 12px;} */
.followExample .followListX{width: 10px; width: 10px; color: #5C5C5C;}
.myFollowList .followExample>div:nth-of-type(2){
    width: 150px;
}
.followExample{width: 100%; display: flex; justify-content: space-between;}
.probox img{width: 100%; height: 100%; border-radius: 50%;}
.followExample p{font-size: 16px; line-height: 35px; width: 200px;}
.followManage button{
    width: 100px; height: 30px; border-radius: 20px; background-color: #5286DC;
    color: #fff; display: flex; justify-content: center; margin-top: 8px;
    align-items: center; float: right;
}




/*  나를 팔로우 하는 사람

--------------------------------------------------------- */


.meFollowList .followList{
    margin: 40px 0; height: 400px; width: 500px;
    font-size: 14px; color:#000; overflow: auto;
}
.meFollowList .followExample{
    width: 100%; height: 46px; margin-bottom: 20px;
    display: flex; align-items: center;
}
.meFollowList .followExample .probox{
    width: 35px; height: 35px; 
    background-color: #FFE69A; border-radius: 50%; margin-right: 15px;
}
.meFollowList .followExample>div:nth-of-type(2)>p{margin-bottom: 4px;}
.meFollowList .followExample>div:nth-of-type(3){
    display: flex; flex-direction: column; align-items: end;
    justify-content: space-between;
}
.meFollowList .followExample>div:nth-of-type(3) img{cursor: pointer;}
.meFollowList .followExample>div:nth-of-type(3) p{
    color: #5C5C5C;
    align-self: flex-end; font-size: 12px; margin-top: 4px;
}
.meFollowList .followExample>div:nth-of-type(2){
    width: 150px; cursor: pointer; height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#alarmModBox .followerLink{
    display: flex; justify-content: center;
    margin-top: 20px;
}
#alarmModBox .followerLink svg{margin-right: 8px;}
.messageBoxOpen{width: 300px; user-select: none; cursor: pointer;}


.meFollowList{
    width: 100vw; height: 100vh; background-color: #5C5C5C50; 
    display: flex; justify-content: center; align-items: center;
    position: fixed; z-index: 300; top: 0; left: 0;
    display: none;
}
.meFollowList>div{
    width: 600px;  height: 600px;  
    background-color: #FFFFFF; border-radius: 20px; 
    display: flex; flex-direction: column; align-items: center; 
    position: relative;
}
.meFollowList>div>div:first-child{ /* 메세지 함 TOP */
    width: 100%; height: 10%; border-bottom: 1px solid #C5C5C5;
    display: flex; align-items: center;
    padding: 0 20px;
}
.meFollowList .followerLink{
    display: flex; align-items: center; user-select: none; cursor: pointer;
}
.meFollowList .followerLink>svg{margin-right: 8px;}

.meFollowList>div>div:first-child h2{
    position: absolute; user-select: none; left: 50%; transform: translateX(-60px);
}

.meFollowList>div>div:first-child>svg:last-of-type{
    width: 20px; height: 20px; position: absolute; 
    right: 18px; top: 18px; cursor: pointer;
}
.reciveUnderline{cursor: pointer; user-select: none; text-decoration: underline;}
.sendUnderline{cursor: pointer; user-select: none; text-decoration: underline;}
/* 메세지 리스트 */
.meFollowList .followList{
    margin: 40px 0; height: 400px; width: 500px;
    font-size: 14px; color:#000; overflow: auto;
    display: flex;  flex-direction: column; align-items: center;
}
.userProfile{display: flex;}
.meFollowList .followExample{
    width: 80%; height: 46px; margin-bottom: 20px;
    display: flex; 
}
.h4{display: flex; justify-content: center; margin: 20px 0; user-select: none;}
/* .myFollowList h4{} */
.meFollowList .followExample .probox{
    width: 35px; height: 35px; 
    background-color: #FFE69A; border-radius: 50%; margin-right: 15px;
}
.meFollowList .followExample>div:nth-of-type(2)>p{margin-bottom: 4px;}

/* meFollowList .followExample>div:nth-of-type(3) svg{color: #5C5C5C; margin-bottom: 12px;} */
.followExample .followListX{width: 10px; width: 10px; color: #5C5C5C;}
.meFollowList .followExample>div:nth-of-type(2){
    width: 150px;
}
.followExample{width: 100%; display: flex; justify-content: space-between;}
.probox img{width: 100%; height: 100%; border-radius: 50%;}
.followExample p{font-size: 16px; line-height: 35px; width: 200px;}
.followManage button{
    width: 100px; height: 30px; border-radius: 20px; background-color: #5286DC;
    color: #fff; display: flex; justify-content: center; margin-top: 8px;
    align-items: center; float: right;
}

.NewWriteTextArea{
    padding: 8px; height: 200px;
}

#NewWriteTextArea{
    height: 30px; padding: 8px; border-radius: 10px;
    margin: 12px;
}
.cta{
    width: 50px; height: 24px; border-radius: 20px;
    background-color: #5286DC; color: #fff; margin-left: 8px;
} 
.upload-form-hashtag{margin: 12px;}
.new-borad-upload{
    width: 100px; height: 35px; border-radius: 30px; font-weight: bold;
    background-color: #92B4EC; color: #fff;
    font-size: 12px;
}
.inputFileBtn{
    width: 200px; height: 70px;
    font-weight: bold; font-size: 14px;
}

.hashList{
    border: none; max-height: 100px; overflow: auto;
}
.addLink{margin-top: 40px;}
.hashtag>button{
    background-color: #FFF;
}
.contentSet svg{
    margin-top: 8px;
}
.addLink svg{
    margin-top: 4px;
}
/* .countBox{
    float: right;
} */

.BoardIconInfo{
    background: #ffffff80; border-radius: 20px;
}
/* .editingSubmit{
    display: inline-block;
    width: 80px; height: 30px; border-radius: 20px;
    background-color: #5286DC; color: #fff; margin-left: 8px;
    text-align: center;
}
.editingCancel{
    display: inline-block;
    width: 80px; height: 30px; border-radius: 20px;
    background-color: #5286DC; color: #fff; margin-left: 8px;
    text-align: center;
} */
/* .BoardPost .innerDiv{
    width: 70%;
} */
.commentContent{
    padding: 8px;
}
.BoardCommentBox>svg{margin-right: 8px;}
#boardModal > div.BoardMainContainer > div.BoardContainerright > div.Boardcontent > div > div.Boardcontent1 > div > div > div.commentbox.parentNo339 > div.innerDiv > a{
    margin-right: 8px; 
}
.dateDiv{margin-top: 4px;}
.replyCommentInsert{font-size: 14px;}
#boardModal > div.BoardMainContainer > div.BoardContainerright > div.Boardcontent > div > div.Boardcontent1 > div > div > div.commentbox.parentNo339 > div.dateDiv > span
{font-size: 14px; cursor: pointer;}
#boardModal > div.BoardMainContainer > div.BoardContainerright > div.Boardcontent > div > div.Boardcontent1 > div > div > div.commentbox.parentNo339 > div:nth-child(4) > div > div:nth-child(2) > div.innerDiv > a
{
    margin-right: 8px; 
}
.secondComment {margin-top: 8px;}
.innerDiv a{margin-right: 8px;}
.hashs{margin-top: 4px;}
.innerDiv>a:first-child{
    font-size: 14px;
}
.postlist ul li a{user-select: none; cursor: pointer;}
.likeCount{user-select: none; cursor: pointer;}
#insertComment{user-select: none; cursor: pointer;}
.list-thumbnail{cursor: pointer;}
#alarmModBox>p{user-select: none;}
.search-user-picture
{font-size: 14px;}