/* 전체 틀 */
.ch-guide-container{
    max-width: 1200px;  /* 총 길이 */
    margin: 0 auto;     /* 위아래 마진0, 좌우 auto로 가운데 정렬 */
    margin-top: 150px;
}


/* 제목 <back과 제목 */
.ch-guide-container>section{ padding: 0 50px; }  /* 화면 줄였을때 여백 남도록 */

.ch-guideheader{
    display: flex; align-items: center; justify-content: center; /* 제목 가운데 정렬 */
    position: relative; /* <BACK 이 구역 안에 있도록 */
    margin-top: 80px; /* 헤더와 간격둘려고 */
}
.ch-guideheader>a{
    position: absolute; left:0px; /* 고정 위치 */
    text-align: center;  /* 제목 상하 가운데 */
    font-size: 24px;  /* 제목 사이즈 */
}
.ch-guideheader>h3{  
    text-align: center;  /* <BACK 상하 가운데 */
    font-size: 30px;    /* <BACK 사이즈 */
}



/* FAQ 선택 부분 */
.ch-guide-container>section:nth-child(2){
    display: flex; align-items: center; justify-content: center;  /* 가운데 정렬 */
    margin-top: 80px;                                             /* 제목과 간격 두기 */
}

/* FAQ 큰 박스 */
.ch-guide-container>section:nth-child(2)>div{
    width: 1100px;
    min-height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

/* FAQ 작은 박스 */
.ch-guide-container>section:nth-child(2)>div>ul{
    width: 1000px;
    min-height: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

/* FAQ 작은 박스 안의 리스트 */
.ch-guide-container>section:nth-child(2)>div>ul>li{ 
    position: relative;
    border-top: 1px solid black;
}
.ch-guide-container>section:nth-child(2)>div>ul>li:first-child{
    border-top: none;
} 

/* FAQ 작은 박스 안의 리스트의 a태그 */
.ch-guide-container>section:nth-child(2)>div>ul>li>a{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    font-size: 24px;
}

.ch-guide-container>section:nth-child(2)>div>ul>li>a>svg{position : absolute; right: 0px; margin-right : 20px;}

.ch-guide-container>section:nth-child(2)>div>ul>li>div{
    border-top: 1px solid black;
}
.on>.FAQ-cont {
    display: none;
    padding: 30px 60px;
}
li>.FAQ-cont {
    display: block;
}

.Abtn{
    display: none;
}