<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<update id="backgroundUpdate">
		UPDATE "MEMBER_PROFILE" SET
		BACKGROUND_IMG = #{backgroundImage},
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
</mapper>