<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">

	<resultMap type="MyPage" id="mypage_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="profileImage" column="PROFILE_IMG"/>
		<result property="backgroundImage" column="BACKGROUND_IMG"/>
		<result property="memberInfo" column="MEMBER_INFO"/>
		<result property="memberCareer" column="MEMBER_CAREER"/>
		<result property="oneLiner" column="ONE_LINER"/>
		<result property="memberUrl" column="MEMBER_URL"/>
		<result property="memberCertificate" column="MEMBER_CERTIFICATE"/>
		<result property="techImg" column="TECH_IMG"/>
		<result property="snsImg" column="SNS_IMG"/>
		<result property="snsAddress" column="SNS_ADDRESS"/>
		
		<collection property="techList" 
					select="selectTechList"
					column="java.util.ArrayList"
					ofType="Tech"
					/>
		<collection property="interestList" 
					select="selectInterestList"
					column="java.util.ArrayList"
					ofType="INTERESTS"
					/>		
		<collection property="snsList" 
					select="selectSNSList"
					column="java.util.ArrayList"
					ofType="SNS"
					/>		
	</resultMap>
	
	<resultMap type="Tech" id="tech_rm">
		<id property="techNo" column="TECH_NO"/>
		<result property="techName" column="TECH_NAME"/>
		<result property="techImg" column="TECH_IMG"/>	
		<result property="memberNo" column="MEMBER_NO"/>	
	</resultMap>
	
	<resultMap type="Interests" id="interest_rm">
		<id property="interestsNo" column="INTERESTS_NO"/>
		<result property="interestsName" column="INTERESTS_NAME"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	<resultMap type="SNS" id="SNS_rm">
		<id property="snsNo" column="SNS_NO"/>
		<result property="snsName" column="SNS_NAME"/>
		<result property="snsImg" column="SNS_IMG"/>	
		<result property="snsAddress" column="SNS_ADDRESS"/>	
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>


	<!-- 회원 정보 수정 -->
	<update id="updateInfo" parameterType="Member">
		UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_URL = #{memberUrl}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 회원 비밀번호 조회 -->
	<select id="selectEncPw" parameterType="_int" resultType="string">
		SELECT MEMBER_PW FROM "MEMBER" WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="Member">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="secession" parameterType="_int">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 프로필 이미지 삽입 -->
	<insert id="profileInsert">
		INSERT INTO "MEMBER_PROFILE"("MEMBER_NO", "PROFILE_IMG")
		VALUES(#{memberNo}, #{profileImage})
	</insert>
	
	<!-- 프로필 이미지 수정 -->
	<update id="updateProfileImage">
		UPDATE "MEMBER_PROFILE" SET
		PROFILE_IMG = #{profileImage}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 프로필 기본 이미지 수정 -->
	<update id="updateBasicProfile">
		UPDATE "MEMBER_PROFILE" SET
		PROFILE_IMG = '/resources/images/profileImage/basicUserProfile.png'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 배경화면 수정 -->
	<update id="backgroundUpdate">
		UPDATE "MEMBER_PROFILE" SET
		BACKGROUND_IMG = #{backgroundImage}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 배경화면 삽입 -->
	<insert id="backgroundInsert">
		INSERT INTO "MEMBER_PROFILE"("MEMBER_NO", "BACKGROUND_IMG")
		VALUES(#{memberNo}, #{backgroundImage})
	</insert>
	
	<!-- 내 정보 조회하기 -->
	<select id="selectMemberProfile" resultMap="mypage_rm">
		SELECT MEMBER_NO, MEMBER_NICKNAME, PROFILE_IMG, BACKGROUND_IMG, MEMBER_INFO, MEMBER_CAREER, MEMBER_CERTIFICATE, ONE_LINER ,MEMBER_URL
		FROM "MEMBER_PROFILE"
		RIGHT JOIN "MEMBER" USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 프로필 정보 수정 -->
	<update id="updateProfileInfo" parameterType="MyPage" >
		UPDATE "MEMBER_PROFILE"
		SET MEMBER_INFO = #{memberInfo}
			, MEMBER_CAREER = #{memberCareer}
			, MEMBER_CERTIFICATE = #{memberCertificate}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	
	
	
	<!-- 전체 지식기술 조회 -->
	<select id="selectTechList" resultMap="tech_rm">
		SELECT * FROM "TECH"
	</select>
	
	<!-- 선택된 지식기술 조회 -->
	<select id="selectCheckTechList" resultMap="tech_rm">
		SELECT MEMBER_TECH_NO, TECH_NO, TECH_NAME, TECH_IMG, MEMBER_NO
		FROM "MEMBER_TECH"
		JOIN "TECH" USING (TECH_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 선택된 지식/기술 한개씩 삽입 -->
	<insert id="insertNewTechList">
		INSERT INTO "MEMBER_TECH"
		VALUES(SEQ_TECH_NO.NEXTVAL, #{memberNo}, #{techNo})
	</insert>
	
	<!-- 선택한 techImgList 조회 -->
	<select id="seletCheckTechImgList" resultMap="tech_rm">
		SELECT TECH_IMG
		FROM "MEMBER_TECH"
		JOIN "TECH" USING (TECH_NO)
		WHERE MEMBER_NO =  #{memberNo}
	</select>
	
	<!-- 선택 해제 지식/기술 삭제 -->
	<delete id="techListDeleteAll">
		DELETE FROM "MEMBER_TECH"
		WHERE MEMBER_NO = #{memberNo}
	</delete>
	
	
	
	
	
	<!-- 전체 관심분야 조회 -->
	<select id="selectInterestList" resultMap="interest_rm">
		SELECT INTERESTS_NO, INTERESTS_NAME
		FROM INTERESTS
	</select>
	
	<!-- 선택한 interestList 조회 -->
	<select id="seletCheckInterestList" resultMap="interest_rm">
		SELECT INTERESTS_MEMBER_NO, INTERESTS_NO, INTERESTS_NAME, MEMBER_NO
		FROM MEMBER_INTERESTS
		JOIN INTERESTS USING (INTERESTS_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 체크된 interestList 한개씩 삽입 -->
	<insert id="insertNewInterestList">
		INSERT INTO "MEMBER_INTERESTS"
		VALUES(SEQ_TECH_NO.NEXTVAL, #{memberNo}, #{interestsNo})
	</insert>
	
	<!-- 선택 해제 interestList 삭제 -->
	<delete id="interestListDeleteAll">
		DELETE FROM MEMBER_INTERESTS
		WHERE MEMBER_NO = #{memberNo}
	</delete>
	
	
	
	
	<!-- 전체 SNS 조회 -->
	<select id="selectSNSList" resultMap="SNS_rm">
		SELECT SNS_NO, SNS_NAME, SNS_IMG
		FROM SNS
	</select>

	<!-- 선택한 SNSList 조회 -->
	<select id="seletCheckSNSList" resultMap="SNS_rm">
		SELECT MEMBER_SNS_NO, SNS_NO, SNS_NAME, SNS_IMG, SNS_ADDRESS, MEMBER_NO
		FROM MEMBER_SNS
		JOIN SNS USING (SNS_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY SNS_NO
	</select>
	
	<!-- 선택된 SNSList/기술 한개씩 삽입 -->
	<insert id="insertNewSnsList">
		INSERT INTO "MEMBER_SNS"
		VALUES(SEQ_SNS_NO.NEXTVAL, #{memberNo}, #{snsNo}, #{snsAddress})
	</insert>
	
	<!-- 선택 해제 SNSList 삭제 -->
	<delete id="snsListDeleteAll">
		DELETE FROM "MEMBER_SNS"
		WHERE MEMBER_NO = #{memberNo}
	</delete>
	
	<!-- 선택한 snsImgList 조회 -->
	<select id="selectCheckSNSImgList" resultMap="SNS_rm">
		SELECT SNS_IMG
		FROM "MEMBER_SNS"
		JOIN "SNS" USING (SNS_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY SNS_NO
	</select>
	
	<!-- snsURL COUNT -->
	<!--  
	<select id="selectSNSAddress" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER_SNS" 
		WHERE SNS_ADDRESS IS NULL
		AND MEMBER_NO = #{memberNo}
	</select>
	-->
	
	<!-- snsURL UPDATE -->
	<update id="updateSNSAddress">
		UPDATE "MEMBER_SNS" 
		SET SNS_ADDRESS = #{snsAddress}
		WHERE SNS_NO = #{snsNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	<!-- snsURL INSERT -->
	<insert id="insertSNSAddress">
		INSERT INTO "MEMBER_SNS" 
		(MEMBER_SNS_NO, MEMBER_NO, SNS_NO, SNS_ADDRESS)
		VALUES (SEQ_MEMBER_SNS_NO.NEXTVAL, #{memberNo}, #{snsNo}, #{snsAddress})
	</insert>
	
	<!-- 선택한 snsList의 URL 주소 (링크) -->
	<select id="selectSNSAddressList" resultMap="SNS_rm">
		SELECT SNS_NO, SNS_ADDRESS, MEMBER_NO
		FROM MEMBER_SNS 
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	
	
	
	
	
	
	
	<!-- 선택한 SNSList의 URL 조회 -->
	<!--  
	<select id="selectCheckSNSURL" resultMap="SNS_rm">
		SELECT SNS_ADDRESS
		FROM SNS 
		JOIN MEMBER_SNS USING (SNS_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	-->
	
	<!-- 선택한 snsList의 URL 주소 (링크) -->
	<!--  
	<select id="selectSNSAddress" resultMap="SNS_rm">
		SELECT SNS_ADDRESS
		FROM "MEMBER_SNS"
		JOIN "SNS" USING (SNS_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY SNS_NO
	</select>
	-->
	
	<!-- update snsAddress -->
	<!-- 	
	<update id="updateSNSAddress">
		UPDATE SNS	
		SET SNS_ADDRESS = #{snsAddress}
		WHERE MEMBER_NO = #{memberNo}
	</update> 
	-->
	
	
	
	
	


</mapper>
